
/*-------------------------- RESET STYLE-----------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*-------------------------- GENERAL STYLE-----------------------------*/
body{
	background-color: #ffffff;
	font-family: 'Lato', arial, sans-serif;
	color: #686b6d;
	padding: 20px 0;
	font-size: 16px;
}
.wrapper{
	display:block;
	max-width: 1020px;
	margin: 0 auto;
}

/*-------------------------- HEADER STYLE-----------------------------*/
header{
	margin-bottom:50px;
}
header h1{
	text-align:center;
	font-size: 3em;
}
header h2{
	text-align:center;
	font-size: 1.38em;
}

/*-------------------------- MAIN STYLE-----------------------------*/
main h3{
	font-size: 1.38em;
	margin-bottom: 1.38em;
}
main p{
	font-size:1em;
	margin-bottom: 1.7em;
}


/*---------------------------- some general adjustments for mobile (just one media query. Could be expanded)--------------*/
@media only screen and (max-width: 768px){
	body{
		font-size:12px;
		padding: 10px 0;
	}
	header{
		margin-bottom:20px;
	}
}